html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    background-color: #eafafd;
    font-family:'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}



/* === estilos globais === */

div{
    display: flex;
}

h1 {
    font-size: 26px;
    color:rgb(43, 42, 42);
    font-weight: bold;
    align-self: flex-end;
}

h1 a {
    font-size: 26px;
    color:rgb(43, 42, 42);
    font-weight: bold;
    align-self: flex-end;
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(43, 42, 42);
    line-height: 18px;
}

p {
    font-size: 14px;
    color: rgb(43, 42, 42);
    line-height: 20px;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: rgb(43, 42, 42);
}

/* === header === */

.header {
    
    flex-direction: row;
    background-color: white;
    height: 90px;
    width: 100%;
    align-items: center;
    position: sticky;
    box-shadow: 0 5px 15px #b0a6a6;
}

.header .logo {
    height: 60px;
    margin: 30px;
}

.header .menu {
    gap: 40px;
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: 20px;
    align-self: flex-end;
    letter-spacing: 1px;
}


.header .menu a {
    color: rgb(43, 42, 42);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


/* === center === */

.center {
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #0077B6;
}

.center1{
    flex-direction: column;
    margin: 5% 100px auto;
    padding: 30px;
    background-color: #c5deeb;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

.sobre{
    text-transform: uppercase;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-bottom: 5%;
}

.paragrafo1{
    line-height: normal;
    font-size: 18px;
    border-radius: 8px;
    padding: 15px;
    background-color: #84CCEB;
}

.principal{
    font-weight: bold;
}

.nome{
    font-weight: bold;
    color: rgba(3, 7, 10, 0.61);
}

.paragrafo2{
    line-height: normal;
    font-size: 18px;
    border-radius: 8px;
    padding: 15px;
    background-color: #84CCEB;
}

.paragrafo3{
    line-height: normal;
    font-size: 18px;
    border-radius: 8px;
    padding: 15px;
    background-color: #84CCEB;
}

.paragrafo4{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

/* === rodapé === */

.footer {
    height: auto;
    width: 100%;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    background-color: #03045E;
    align-content: flex-end;
    bottom: 0;
}

.footer span {
    font-weight: bold;
}

.footer .menu {
    flex-direction: column;
    margin: 30px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.footer h2 {
    color: white;
}

.footer a {
    margin-left: 10px;
    color: white;
}

.footer p {
    color: white;
}

.footer .logo {
    height: 60px;
    margin: 30px 0;
}

.info {
    flex-direction: column;
    margin: 20px auto 20px;
}

.endereco, .contato {
    flex-direction: column;
}



.frame {
    margin: 20px 60px 20px auto;
}


/* === media === */

@media (max-width: 700px) {

    .header{
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .header h1 {
        margin: auto;
    }

    .header .menu {
        margin: 15px;
        justify-content: center;
        gap: 30px;
    }

    .footer {
        flex-direction: column;
        gap: 60px;
        align-items: center;
        height: auto;
        text-align: center;
    }



    iframe {
        align-self: center;
    }
}
